.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .01s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {transform: rotate(0deg) translate(0px,0px);}
  to {transform: rotate(45deg) translate(10px,35px);}
}

@keyframes middle {
  from {transform:translateX(0px)}
  to {transform:translateX(-1000px)}
}

@keyframes bottom {
  from {transform:rotate(0deg) translate(0,0)}
  to {transform:rotate(-45deg) translate(10px,-35px)}
}
